.add-form {
  width: 30rem;
  margin: 2rem auto;
  padding: 1.5rem;
  border: 1px solid #ddd;
  box-shadow: 0 0 1rem rgba(27, 27, 29, 0.955);
}

.add-form-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.errmsg {
  margin-top: 1rem;
  color: #e60000;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.add-form-input {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.add-input-field {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #ddd;
}

.add-form-submit {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.add-form-submit:hover {
  background-color: #111;
}
/*
==============================Sessions==================================
*/
/* Style for sessions container */
.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for individual session */
.session {
  margin: 1rem 0;
  padding: 1rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
}

/* Style for session title */
.session h3 {
  margin-top: 0;
}

/* Style for session days label */
.session label.session-days {
  display: block;
  margin-bottom: 1rem;
}

.session-days {
  margin: 0.3rem;
}
/* Style for day checkboxes */
.session label.session-days div {
  display: flex;
  flex-wrap: wrap;
}

.session label.session-days div input[type="checkbox"] {
  margin-right: 1rem;
}

/* Style for start and end time labels */
.session label.session-start,
.session label.session-end {
  display: block;
  margin-bottom: 1rem;
}

/* Style for add session button */
.add-session-btn {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.remove-session-btn {
  padding: 0.4rem;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.remove-session-btn:hover {
  padding: 0.4rem;
  background-color: #e92424;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.add-session-btn:hover {
  background-color: #0069d9;
}

.day {
  margin: 0.1rem;
}
/*
======================================JS===========================
*/

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: rgb(244, 12, 0);
  margin-left: 0.25rem;
}

.instructions {
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
