.generate-btn {
  background-color: green;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 2rem;
}

.generate-btn:hover {
  background-color: darkgreen;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.browse {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
