* {
  font-family: sans-serif;
  margin: 0;
}

.list-section {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}

.list-table {
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid black;
  border-radius: 1rem;
  width: 100%;
  max-width: 70%;
}

.list-table th,
.list-table td {
  padding: 0.2rem;
  text-align: left;
  border: 0.1rem solid lightgray;
}

.list-table th {
  font-weight: bold;
}

/* Other styles */
.list-section {
  margin: 2rem;
}

.nav-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.search-input {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid black;
  margin-right: 1rem;
  width: 20rem;
  font-size: 1rem;
}

.pagination {
  margin-top: 2rem;
}

.page-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  margin-right: 0.5rem;
}

.page-btn:hover {
  background-color: #333;
  color: white;
}

.page-btn.active {
  background-color: black;
  color: white;
}

.add-link-link {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

.add-link-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.add-link-btn:hover {
  background-color: #111;
}

/* Optional styles */
.delete-btn,
.edit-btn,
.add-link-icon {
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  color: white;
}

.edit-btn {
  background-color: gray;
  color: white;
  margin-left: 0.5rem;
}

.add-link-icon {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

/* Positioning for icons */
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.actions button {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .list-table {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid black;
    border-radius: 1rem;
    width: 100%;
  }

  .list-table th,
  .list-table td {
    font-size: 0.9rem;
  }

  .search-input {
    width: 100%;
  }

  .add-link-btn {
    font-size: 0.9rem;
    padding: 0.8rem 1.5rem;
    margin-top: 1rem;
  }

  .add-link-icon {
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
  }

  .actions button {
    margin-right: 0.2rem;
  }
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .list-table {
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid black;
    border-radius: 1rem;
    width: 100%;
  }
  .list-table th,
  .list-table td {
    font-size: 1rem;
  }

  .search-input {
    width: 50%;
  }

  .add-link-btn {
    font-size: 1rem;
    padding: 1rem 2rem;
  }
}
